.post-comment {
    border: 1px solid #67686b;
    border-radius: 10px;
    min-height: 70px;
    list-style-type: none;
    padding-left: 20px;
}

.comments {
    padding-top: 120px;
}

#cm {
    color: white;
}

.div-comment {
 padding-bottom: 50px;
}