{% extends 'base.html' %}
{% load thumbnail %}
{% load render_partial %}

{% load static %}


<!-- 

Highway Template

https://templatemo.com/tm-520-highway

-->

{% block header_references %}



{% endblock header_references %}

{% block title %}Blog{% endblock title %}


{% block content %}

    <div class="page-heading">
        <div class="container">
            <div class="heading-content">
                <h1>Our <em>Blog</em></h1>
            </div>
        </div>
    </div>


    <div class="blog-entries">
        <div class="container">
            <div class="col-md-9">
                <div class="blog-posts">
                    <div class="row">
                        {% for post in posts %}
                        
                        {% if post.is_active %}
                        <div class="col-md-12">
                            <div class="blog-post">
                                {% thumbnail post.image "900x650" crop="center" as im %}
                                    <img src="{{ im.url }}">
                                {% endthumbnail %}
                                {% comment %} <img src="{{ post.image.url }}" alt=""> {% endcomment %}
                                <div class="text-content">
                                    <span><span>Author</span> :<a href="#"> {{ post.author }}</a> / <a href="#">{{ post.release_date }}</a> / <a href="#"><i class="fa-solid fa-eye"></i> {{ visit_count.posts_visit }}</a></span>
                                    <h2>{{ post.title }}</h2>
                                    <p> {{ post.description }}
                                    <br><br></p>
                                    <div class="simple-btn">
                                        <a href="{{ post.get_absolute_url }}">continue reading</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                         
                        {% endfor %}
                        <div class="col-md-12">
                            <ul class="page-number">
                                {% if page_obj.has_previous %}
                                    <li><a href="?page={{ page_obj.previous_page_number }}"><</a></li>
                                {% endif %}

                                {% for pageNumber in paginator.page_range %}
                                    <li class="{% if page_obj.number == pageNumber %} active {% endif %}"><a href="?page={{ pageNumber }}">{{ pageNumber }}</a></li>
                                {% endfor %}

                                {% if page_obj.has_next %}
                                    <li><a href="?page={{ page_obj.next_page_number }}">></a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="side-bar">
                    <div class="search">
                        <fieldset>
                            <form action="{% url 'search' %}">
                                <input name="search" type="text" class="form-control" id="search" placeholder="Search..." required="">
                            </form>
                        </fieldset>
                    </div>

                    {% render_partial 'blog_module.views.posts_archive_component' %}
                    
                    {% if page_obj.number == 1 %}

                    {% render_partial 'blog_module.views.recent_posts_component' %}

                    {% endif %}

                    {% render_partial 'blog_module.views.post_categories_component' %}
                    
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block footer_references %} {% endblock footer_references %}
