{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}

<!-- 

Highway Template

https://templatemo.com/tm-520-highway

-->

{% block title %} {{post.title}} {% endblock title %}


{% block content %}
<div class="page-heading">
    <div class="container">
        <div class="heading-content">
            <h1>Post</h1>
        </div>
    </div>
</div>


<div class="blog-entries">
    <div class="container">
        <div class="col-md-9">
            <div class="blog-posts">
                <div class="row">
                    <div class="col-md-12">
                        <div class="single-blog-post">
                            {% thumbnail post.image "900x700" crop="center" as im %}
                                <img src="{{ im.url }}">
                            {% endthumbnail %}
                            <div class="text-content">
                                <h2>{{ post.title }}</h2>
                                <span><a href="">{{ post.author }}</a> / <a href="#">{{ post.release_date }}</a> / <a href="#">{{ visit_count }}</a></span>
                                <p> {{ post.description }}
                                <br><br>.
                                    
                                <br><br>
                                <br><br><a href="{% url 'blog-page' %}" id="back-to-blog">Back to blog</a></p>
                                <div class="tags-share">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <ul class="tags">
                                                <li>Tags:</li>
                                                {% for tag in post.tag.all %}
                                                    <li><a href="">{{ tag.title }}</a>,</li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                        <div class="col-md-6">
                                            <ul class="share">
                                                <li>Share:</li>
                                                <li><a href="#">facebook</a>,</li>
                                                <li><a href="#">twitter</a>,</li>
                                                <li><a href="#">behance</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="side-bar">
                <div class="search">
                    <fieldset>
                        <input name="search" type="text" class="form-control" id="search" placeholder="Search..." required="">
                    </fieldset>
                </div>
                <div class="archives">
                    <div class="sidebar-heding">
                        <h2>Archives</h2>
                    </div>
                    <ul>
                        <li><a href="#">> 2018 September (4)</a></li>
                        <li><a href="#">> 2018 August (16)</a></li>
                        <li><a href="#">> 2018 July (5)</a></li>
                        <li><a href="#">> 2018 May (3)</a></li>
                        <li><a href="#">> 2018 February (27)</a></li>
                        <li><a href="#">> 2017 December (18)</a></li>
                        <li><a href="#">> 2017 November (12)</a></li>
                    </ul>
                </div>
               
                <div class="categories">
                    <div class="sidebar-heding">
                        <h2>Categories</h2>
                    </div>
                    <ul>
                        <li><a href="#">> Lifestyle (7)</a></li>
                        <li><a href="#">> Branding (9)</a></li>
                        <li><a href="#">> Nature (14)</a></li>
                        <li><a href="#">> Work Stuff (6)</a></li>
                        <li><a href="#">> Science (5)</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock content %}



