{% load thumbnail %}
<div class="recent-posts">
    <div class="sidebar-heding">
        <h2>Recent Posts</h2>
    </div>
    <ul>
        {% for post in posts %}
        <li class="recents-li"><a href="{{ post.get_absolute_url }}">
            {% thumbnail post.image "300x250" crop="center" as im %}
                <img src="{{ im.url }}" alt="Recent Post 1" class="recents-img">
            {% endthumbnail %}
            <div class="text">
                <h6>{{ post.title }}</h6>
                <span>{{ post.release_date }}</span>
            </div>
        </li></a>
        {% endfor %}
    </ul>
</div>